{% extends 'index.html' %}

{% block title %}
Post Detail
{% endblock %}

{% block content %}
<table align="center">
    <tr>
        <td>
            Title
        </td>
        <td>
            Content
        </td>
        <td>
            Author
        </td>
        <td>
            Category
        </td>
    </tr>
    <tr>
        <td>
            {{ post.post_title }}
        </td>
        <td>
            {{ post.post_content|safe }}
        </td>
        <td>
            {{ post.post_author }}
        </td>
        <td>
            {{ post.post_category }}
        </td>
    </tr>
</table>
{% endblock %}
